.select-box {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #962d22;
  color: #000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  position: relative;
  /* Adding transition effect */
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
  display: inline-block;

  select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px 38px 10px 10px;
  }

  &:after {
    content: '\25be';
    display: inline-block;
    box-sizing: border-box;
    color: #000;
    margin-left: -17px; /* remove the damn :after space */
    pointer-events: none; /* let the click pass trough */
  }
}

/* For IE <= 11 */
.select-box:hover,
.select-box:focus {
  color: #000;
  background-color: white;
  border-bottom-color: #DCDCDC;
}